<div class=" pt-md-5">
    <div class="row">
        <div class=" col-md-6 bg-game"></div>
        <div class="col-md-6 bgc">
            <form [formGroup]="loginForm" (ngSubmit)="loginFn(loginForm)">
                <div class="bg row p-5">
                    <div routerLink="home" class="logo login-logo mx-auto"></div>
                    <h2 class="text-light text-center mb-5">Log in to GameOver...</h2>
                    <div>
                        <input formControlName="email" type="email"
                            class="form-control text-white-50 rounded-0 bg-mine mt-2  border-0" placeholder="email">
                            <p class="my-0 alert py-0 alert-danger" *ngIf="errMsg && errMsg!='incorrect password'">{{errMsg}}</p>
                    </div>
                    <div>
                        <input formControlName="password" type="password"
                            class="form-control text-white-50 rounded-0 bg-mine mt-2  border-0" placeholder="password">
                            <p class="my-0 alert py-0 alert-danger" *ngIf="errMsg && errMsg=='incorrect password'">{{errMsg}}</p>
                    </div>
                    <div>
                        <button type="submit" [disabled]="loginForm.invalid"
                            class="text-white-50 my-2 w-100 btn btn-outline-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>